.comment__title {
  color: #D3B47F;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.comment__text {
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  margin-block: 0 10px;
}

.comment__author {
  color: #D3B47F;
  font-size: 16px;
  line-height: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5.88px;
  margin-block: 0 10px;
}
