.footer {
  width: 320px;
  margin-inline: auto;
}

.footer__request {
  margin-block-end: 10px;
}

.footer__contacts {
  margin-block-end: 10px;
}

.footer iframe {
  width: 100%;
}

.footer__map {
  margin-block-end: 10px;
}

.footer__container {
  width: 100%;
  margin-block-end: 15px;
}
