.gallery {
  padding: 10px;
  min-height: 400px;
  color: #fff;
  margin-block-end: 10px;
  position: relative;
}

.gallery__header {
  margin-block: 10px;
}

.gallery__info {
  font-size: 16px;
}

.gallery__slider .swiper {
  width: 100%;

}

.gallery .slider-button {
  position: absolute;
  z-index: 2;
  bottom: 80px;
}

.gallery .slider-button--forward {
  right: 5px;
}


.gallery .slider-button--backward {
  left: 5px;
}

.gallery .slider-button svg {
  stroke:#D3B47F;
}

.gallery .slider-button--disabled svg {
  stroke:#fff;
}
