.main {
  width: 320px;
  margin-inline: auto;
  box-sizing: border-box;
}

.main__banner {
  margin-block-end: 10px;
}

.main__reviews {
  background-color: #3A4574;
}

.main__gallery {
  background: rgb(58,69,116);
  background: linear-gradient(180deg, rgba(58,69,116,1) 80%, rgba(255,255,255,1) 20%);
}
