.menu {
  position: relative;
}

.menu__toggle {
  background-color: transparent;
  width: 40px;
  height: 59px;
  padding-inline: 10px;
  vertical-align: middle;
  padding-block: 10px 10px;
  box-sizing: border-box;
}

.menu__container {
  position: absolute;
  width: 320px;
  top: 100%;
  right: -10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
}

/* Класс menu--nojs предусмотрен на случай, если JS не отработает по какой-то причине - тогда меню просто сразу будет открыто.*/
.menu--opened,
.menu--nojs {
  .menu__icon-open {
    display: none;
  }

  .menu__icon-close,
  .menu__container {
    display: block;
  }
}

.menu--closed {
  .menu__icon-open {
    display: block;
  }

  .menu__icon-close,
  .menu__container {
    display: none;
  }
}


