.nav__list {
  margin-block-end: 10px;
}

.nav__list:first-child {
  border-top: 2px solid #D3B47F;
}

.nav__item {
  text-align: center;
  padding-block: 10px;
  border-bottom: 2px solid #D3B47F;
}

.nav__link:hover {
  color: #D3B47F;
}
