.request {
  padding: 10px;
}

.request__header {
  margin-block-start: 10px;
}

.request__group {
  border: 0;
  margin-block: 0 15px;
  margin-inline: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.request__field {
  margin: 0;
  width: 100%;
}

.request__field label {
  display: block;
  margin-block: 0 10px;
  font-size: 14px;
  line-height: 18px;
}

.request__field input,textarea {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  box-sizing: border-box;
  color: #808080;
  border: 1px solid #CCCCCC;
}

.request__field textarea {
  min-height: 125px;
  resize: none;
}

.request__button {
  background-color: #3A4574;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  padding: 18px;

  &:hover {
    color: #D3B47F;
  }
}
