.social__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.social__item {
  border: 1px solid #fff;
  border-radius: 50%;
}

.footer__container .social__item {
  border-color: #000;
}

.social__link {
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 12px 10px;
  box-sizing: border-box;
}
.social__item:hover {
  border-color: #D3B47F;
}

.social__item:hover .social__name{
  color: #D3B47F;
}

.social__name {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: #fff;
  display: block;
}

.footer__container .social__name {
  color: #000;
}
